$color-header: rgba(147, 30, 12, 0.9);
$color-button: rgb(210,188,93);
$fondo-principal:"../assets/img/banner.jpeg";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}